body {
    background-color: orange;
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: medium;
}

a:hover {
    border-radius: 30px;
}

.dDiv {
    border: 5px outset green;
    background-color: lightblue;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
